In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [2]:

df_grp = df.groupby("Animal")
df_grp

In [4]:
df_grp.groups

{'Falcon': [0, 1], 'Parrot': [2, 3]}

In [7]:
for nome_gruppo, dataframe in df_grp:
    print(type(dataframe))
    print(nome_gruppo)
    print(dataframe)

<class 'pandas.core.frame.DataFrame'>
Falcon
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
<class 'pandas.core.frame.DataFrame'>
Parrot
   Animal  Max Speed
2  Parrot       24.0
3  Parrot       26.0

In [9]:
df_grp.groups

{'Falcon': [0, 1], 'Parrot': [2, 3]}

In [10]:
print(df_grp.min())
print("-----------")
print(df_grp.mean().min())

        Max Speed
Animal
Falcon      370.0
Parrot       24.0
-----------
Max Speed    25.0
dtype: float64

In [8]:
print(type(df_grp.min()))
print(type(df))
df_grp.mean().min()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

Max Speed    25.0
dtype: float64

In [10]:

df_grp.mean().max()

Max Speed    375.0
dtype: float64

In [25]:

df_1=df_grp.get_group("Falcon")

df_1

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0

In [12]:
df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [13]:

grouped = df.groupby("class")

grouped.get_group("bird")

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [14]:
grouped.groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [15]:

grouped = df.groupby(["class", "order"])
grouped.get_group(("bird","Falconiformes"))

       class          order  max_speed
falcon  bird  Falconiformes      389.0

In [16]:

print(grouped.groups)

{('bird', 'Falconiformes'): ['falcon'], ('bird', 'Psittaciformes'): ['parrot'], ('mammal', 'Carnivora'): ['lion', 'leopard'], ('mammal', 'Primates'): ['monkey']}

In [19]:

# grouped = df.groupby("order", axis="columns")
grouped = df.groupby("order")

print(grouped.groups)

{'Carnivora': ['lion', 'leopard'], 'Falconiformes': ['falcon'], 'Primates': ['monkey'], 'Psittaciformes': ['parrot']}

In [23]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0