In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1, 2, 3, 4],[5, 6, 7, 8],[9, 10, 11, 12]]).set_index([0, 1]).rename_axis(['a', 'b'])
df.columns = pd.MultiIndex.from_tuples([('c', 'e'), ('d', 'f')], names=['level_1', 'level_2'])
df

level_1   c   d
level_2   e   f
a b
1 2       3   4
5 6       7   8
9 10     11  12

In [4]:
dropped_level_df = df.droplevel('a')
print(dropped_level_df)

level_1   c   d
level_2   e   f
b
2         3   4
6         7   8
10       11  12

In [5]:
dropped_level_df = df.droplevel('level_2', axis=1)
print(dropped_level_df)

level_1   c   d
a b
1 2       3   4
5 6       7   8
9 10     11  12

In [9]:
data = {
  "name": ["Bill", "Bob", "Betty"],
  "age": [50, 50, 30],
  "qualified": [True, False, False]
}
df = pd.DataFrame(data).set_index(["name", "age"])
print(df)
newdf = df.droplevel(0)
print(newdf)

           qualified
name  age
Bill  50        True
Bob   50       False
Betty 30       False
     qualified
age
50        True
50       False
30       False