In [2]:
import pandas as pd

In [2]:
city=["Roma", "Torino", "Milano"]
print(city)
population=[100,200,300]
print(population)
df=pd.DataFrame({"Città":city,"Popolazione":population})
df

['Roma', 'Torino', 'Milano']
[100, 200, 300]

    Città  Popolazione
0    Roma          100
1  Torino          200
2  Milano          300

In [4]:
df_grp = df.groupby("Città")
for name, df in df_grp:
    print(name)
    print(df)

Milano
    Città  Popolazione
2  Milano          300
Roma
  Città  Popolazione
0  Roma          100
Torino
    Città  Popolazione
1  Torino          200

In [4]:
df2 = pd.DataFrame({"X": ["B", "B", "A", "A"], "Y": [1, 2, 3, 4]})
df2

   X  Y
0  B  1
1  B  2
2  A  3
3  A  4

In [5]:

df2.groupby(["X"]).sum()

   Y
X
A  7
B  3

In [6]:

df2.groupby(["X"], sort=False).sum()

   Y
X
B  3
A  7